export(clean.DM)
export(converged)
export(diag_ind)
export(DM.estimate)
export(dtnorm)
export(eigen.plots)
export(eigen.vals)
export(elt.locs)
export(EM)
export(is.pd)
export(is.spd)
export(is.square)
export(is.symmetric)
export(ix2im)
export(ldiff)
export(make.positive.definite)
export(matrix.expand)
export(matrix.flatten)
export(MCEM)
export(mirror.matrix)
export(NewtonRaphson)
export(ppaste)
export(ptnorm)
export(qtnorm)
export(rtnorm)
export(spd.chol)
export(svd.inverse.root)
export(svd.root)
export(tri.construct)
export(tri.extract)
export(updateplot)

